:root {
    --white: #fff;
    --colors-bg-primary: #8315f9;
    --primary-dark: #1f0050;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-500: #6b7280;
    --gray-700: #374151;
    --gray-900: #111827;
    --green-50: #ecfdf5;
    --green-400: #34d399;
    --green-500: #10b981;
    --red-50: hsl(0, 86%, 97%);
    --red-400: #f87171;
    --red-500: #ef4444;
    --spacing-sizing-1: 4px;
    --spacing-sizing-2: 8px;
    --spacing-sizing-3: 12px;
    --spacing-sizing-4: 16px;
    --spacing-sizing-6: 24px;
    --spacing-sizing-8: 32px;
    --spacing-sizing-10: 40px;
    --border-radius-rounded-lg: 8px;
    --graph-line-color-1: rgba(255, 255, 255, 0.2);
    --graph-line-color-2: rgba(255, 255, 255, 0.2);
}

@font-face {
    font-family: Inter;
    src: url(./assets/Inter-VariableFont.ttf);
    font-display: swap;
}
* {
    font-family: Inter;
}
html {
    scroll-behavior: smooth;
}
body,
p,
h2,
h3 {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(180deg, rgba(249, 250, 251, 0) 0%, rgb(242, 246, 252) 20%), linear-gradient(90deg, #e2c8fe 0%, #bfdbfe 50%, #aefaff 100%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0px;
    padding: var(--spacing-sizing-6);
}

.main_content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-sizing-10);
}
b {
    font-weight: 600;
}
h1 {
    color: var(--primary-dark);
    font-family: "Space Mono";
    font-size: 60px;
    font-weight: 700;
}
h2 {
    color: var(--primary-dark);
    /* text-xl/font-semibold */
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
}
h3 {
    color: var(--gray-700);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: var(--spacing-sizing-4);
}
a {
    color: #6706ce;
    text-decoration: none;
    font-weight: 600;
}
.graph_paper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--graph-line-color-1) 1.5px, transparent 1.5px), linear-gradient(90deg, var(--graph-line-color-1) 1.5px, transparent 1.5px), linear-gradient(var(--graph-line-color-2) 1px, transparent 1px), linear-gradient(90deg, var(--graph-line-color-2) 1px, transparent 1px);
    background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    display: flex;
    flex-direction: column;
}

.tests_failing,
.tests_passing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-sizing-4);
}

.test_group_header {
    display: flex;
    align-items: center;
}

.test_group_header h1 {
    flex: 1 0 0;
    font-size: 32px;
    margin: 0px var(--spacing-sizing-2);
}

#show_passing_btn {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */

    display: flex;
    padding: var(--spacing-sizing-2) var(--spacing-sizing-3);
    align-items: center;
    gap: var(--spacing-sizing-2);
    color: var(--white);
    border: solid 1px var(--gray-700);
    background-color: var(--gray-700);
    border-radius: 8px;
    transition: all 200ms;
    cursor: pointer;
}

.show_passing_btn_active {
    color: var(--gray-700);
    background-color: transparent;
    transition: all 200ms;
}

#show_passing_btn:hover {
    color: var(--gray-700);
    background-color: transparent;
    transition: all 200ms;
}

#passing_cards {
    max-height: 1000vh;
    overflow: visible;
    transition: all 400ms ease-in-out;
}

.feature_card_wide,
.feature_card {
    position: relative;
    display: flex;
    padding: var(--spacing-sizing-6);
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-sizing-6);
    border-radius: var(--border-radius-rounded-lg);
    border: 1px solid var(--gray-200);
    background: var(--white);
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.05), 0px 8px 10px -6px rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
}
.feature_card_wide {
    gap: var(--spacing-sizing-4);
}
.feature_card {
    flex: 1 0 0;
}
.feature_cards {
    width: 100%;
    display: grid;
    place-items: start start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-sizing-6);
}
h1 {
    margin: 0px var(--spacing-sizing-10);
}
header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-sizing-10);
    margin: 120px auto var(--spacing-sizing-10) auto;
}
.header_text {
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sizing-2);
    font-size: 16px;
    line-height: 28px;
    padding: 0px var(--spacing-sizing-10);
    max-width: 800px;
}

.header_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sizing-4);
}

.button_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-sizing-2);
    padding: 0px var(--spacing-sizing-10);
}

.header_subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sizing-2);
    margin: 0px var(--spacing-sizing-10);
    color: var(--gray-700) !important;
}

.logo {
    height: 50px;
    width: initial;
}

.logo_link {
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: var(--spacing-sizing-6);
}

.button {
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */

    display: flex;
    padding: var(--spacing-sizing-2) var(--spacing-sizing-3);
    align-items: center;
    gap: var(--spacing-sizing-2);
    border-radius: 8px;
    background: var(--colors-bg-primary);
    box-shadow: 0px 4px 24px 4px rgba(131, 21, 249, 0.4);
    transition: all 200ms;
}
.button:hover {
    background: #8015f2;
    box-shadow: 0px 4px 64px 4px rgba(131, 21, 249, 0.5);
    transition: all 200ms;
}
footer p {
    color: var(--gray-500);

    /* text-xs/font-medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--spacing-sizing-4); /* 133.333% */

    margin: 0;
    text-align: center;
    margin-bottom: var(--spacing-sizing-6);
}
.header_subtitle,
.subtitle,
.feature_header_text p,
.dropdown {
    color: var(--gray-500);
    /* text-sm/font-medium */
    font-family: Inter;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
.chart_box {
    flex-shrink: 0;
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--border-radius-rounded-lg);

    font-family: monospace;
    font-size: 28px;
    font-weight: 500;

    /* For testing template */
    /* max-width: 80px;
    overflow: hidden; */
}
.chart_box_green {
    border: 1px solid var(--green-500);
    background: var(--green-50);
    color: var(--green-500);
}
.chart_box_red {
    border: 1px solid var(--red-500);
    background: var(--red-50);
    color: var(--red-500);
}
.feature_header {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-sizing-4);
    align-self: stretch;
    min-height: 76px;
}
.feature_header_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sizing-1);
    flex: 1 0 0;
}

.result_summary {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: var(--spacing-sizing-3);
    color: var(--gray-700);
    background-color: var(--gray-50);
    border-radius: var(--border-radius-rounded-lg);
    padding: var(--spacing-sizing-4);
    border: 1px solid var(--gray-100);
}

.summary_title {
    /* font-weight: 500; */
    font-size: 14px;
}

.result_text {
    width: 100%;
    color: var(--gray-700);
}

.result_info {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-sizing-2);
    justify-content: space-between;
}

.result_squares {
    display: flex;
    align-items: center;
    gap: 4px;
}

.result_square {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    background-color: gray;
}
.result_square_green {
    background-color: var(--green-400);
}
.result_square_red {
    background-color: var(--red-400);
}

.request_price {
    font-size: 12px;
    color: var(--gray-500);
    text-align: end;
}
.request_price i {
    margin: 0px 6px;
}

.explainer_dropdown {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-rounded-lg);
    border: 1px solid var(--gray-200);
    overflow: hidden;
}
.dropdown {
    cursor: pointer;
    text-align: left;
    display: flex;
    padding: var(--spacing-sizing-2) var(--spacing-sizing-3);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sizing-2);
    border-radius: 0;
    background: none;
    border: none;
    transition: all 200ms;
    width: 100%;
    color: var(--gray-700);
}
.dropdown:hover {
    background: var(--gray-100);
    transition: all 200ms;
}
.dropdown:after {
    content: "\02795";
}
.active {
    transition: all 400ms;
    color: var(--gray-500);
}
.active:after {
    content: "\2796";
}
.explainer {
    overflow: hidden;
    transition: all 400ms;
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-sizing-6) var(--spacing-sizing-4) var(--spacing-sizing-6);
}
pre {
    color: var(--gray-500);
    background-color: var(--gray-50);
    border-radius: var(--border-radius-rounded-lg);
    white-space: normal;
    padding: var(--spacing-sizing-4);
    width: 100%;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
    margin: 8px 0px;
    /* word-break: break-all; */
}

.prompt {
    word-break: break-word;
}

.explainer_icon {
    color: var(--gray-700);
    margin-right: 8px;
}
.explainer img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    margin: var(--spacing-sizing-2) 0px;
    background-color: var(--gray-50);
    border-radius: var(--border-radius-rounded-lg);
    border: 1px solid var(--gray-100);
}
#lenny {
    position: absolute;
    transform: scale(0.8);
    right: 20%;
    top: -74px;
}
@media screen and (max-width: 900px) {
    .feature_cards {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .test_group_header h1 {
        font-size: 24px;
    }
    .feature_card {
        flex: 1 0 0;
        gap: var(--spacing-sizing-6);
    }
    .feature_header {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }
    .chart {
        align-items: flex-start;
    }
    .logo_link {
        align-self: center;
        margin: var(--spacing-sizing-6);
    }
    .header_text {
        gap: var(--spacing-sizing-6);
    }
    .tag_group {
        gap: var(--spacing-sizing-2) !important;
    }
    .link_cards {
        flex-direction: column;
    }
}
.cost {
    color: var(--gray-500);

    /* text-xs/font-medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--spacing-sizing-4); /* 133.333% */

    margin: 0;
}
pre,
.methodology_text {
    border: 1px solid var(--gray-100);
}
.methodology_text {
    background-color: var(--gray-50);
    border-radius: var(--border-radius-rounded-lg);
    padding: var(--spacing-sizing-6);
    font-size: 16px;
    color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sizing-4);
    margin: 0px;
}
.methodology_text #red {
    color: var(--red-500);
    font-weight: 600;
}
.methodology_text #green {
    color: var(--green-500);
    font-weight: 600;
}

.learn_more {
    color: var(--colors-bg-primary);

    /* text-sm/font-medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.divider {
    height: 1px;
    width: 100px;
    margin: 0px auto;
    background-color: var(--primary-dark);
}

.link_cards {
    color: var(--gray-700);
    display: flex;
    gap: var(--spacing-sizing-4);
    margin: 0px;
}

.link_card {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sizing-4);
    padding: var(--spacing-sizing-4);
    background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
    border-radius: var(--border-radius-rounded-lg);
    font-weight: 400;
    box-shadow: none;
    transition: all 400ms;
}
.link_card:hover {
    /* background-color: var(--gray-50); */
    background-color: #f9f2ff;
    border: 1px solid var(--colors-bg-primary);
    box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.1), 0px 4px 4px -6px rgba(0, 0, 0, 0.05);
    transition: all 400ms;
}

.link_card h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.link_card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: var(--spacing-sizing-1);
}
.tag {
    display: flex;
    align-items: center;
    gap: var(--spacing-sizing-1);
    padding: var(--spacing-sizing-1) var(--spacing-sizing-2);
    color: var(--colors-bg-primary);
    background-color: #ede0fa;
    font-weight: 500;
    font-size: 14px;
    border-radius: var(--border-radius-rounded-lg);
}
